*{
    margin: 0;
    padding: o;
    font-family: var(--roboto);
    
}


html,
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* il sagit du pied de des variantes */
:root{
    --primary-color: 0, 0, 0;
    --secondary-color: 255, 225, 255;
    
    --bleue-color: 28, 40, 146;
    --green-color:95, 188, 99;
    --orange-color: 225, 99, 11;

    --headline-font-size: 42px;
    --headline-font-weight:700px;

    --subheadline-font-size: 22px;
    --subheadline-font-weight:400px;

    --body-font-size:18px;
}